<div class="col-md-4 col-sm-4 xs-margin-bottom-ten">
  <div class="position-relative"><img src="{{ image_path }}"/></div>
  <p class="text-med black-text letter-spacing-1 margin-ten no-margin-bottom text-uppercase font-weight-600 xs-margin-top-five">{{ node.label() }}</p>
  {{ content.field_location }}
  <div class="wide-separator-line bg-mid-gray no-margin-lr"></div>
  <p class="black-text no-margin-bottom"><strong>T.</strong> <a href="tel:{{ office_number }}">{{ office_number }}</a></p>
  <p class="black-text"><strong>E.</strong> <a href="mailto:{{ office_email }}">{{ office_email }}</a></p>
</div>
