<div class="key-person">
  <div class="key-person-img"><img src="{{ image_path }}"></div>
  <div class="key-person-details">
    <span class="person-name black-text">{{ label }}</span> <span
      class="person-post">{{ content.field_position }}</span>
    <div class="separator-line bg-rtr-gradient"></div>
    <div class="person-social">
      {% if linkedin_url is not empty %}
        <a href="{{ linkedin_url }}" target="_blank"><i class="fa fa-linkedin"></i></a>
      {% endif %}
    </div>
    <p>{{ node.body.summary }}</p>
  </div>
</div>
