<!-- head section -->
<section class="page-title parallax3 parallax-fix page-title-large">
  <div class="opacity-medium bg-black"></div>
  <img class="parallax-background-img" src="{{ image_path }}" alt=""/>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center animated fadeInUp">
        <div class="separator-line bg-rtr-gradient no-margin-top margin-four"></div>
        <!-- page title -->
        <h1 class="white-text">{{ raw_title }}</h1>
        <!-- end page title -->
      </div>
    </div>
  </div>
</section>
<!-- end head section -->
{{ operations }}
<!-- content section -->
<section class="wow fadeIn">
  <div class="container">
    <div class="row">
      <!-- content  -->
      <div class="col-md-8 col-sm-8">
        <div class="clearfix">
          <div class="col-md-12 col-sm-12 no-padding">
            <div class="text-med margin-five no-margin-top">{{ content.body }}</div>
            {{ content.field_content }}
          </div>
          <div class="col-md-12 text-center">
            <h3>{{ 'Related jobs' }}</h3>
            <div class="separator-line bg-rtr-gradient margin-five"></div>
            {{ related_jobs_block }}
          </div>
        </div>
      </div>
      <!-- end content  -->
      <!-- sidebar  -->
      <div class="col-md-3 col-sm-4 sidebar col-md-offset-1 xs-margin-top-seven">
        <!-- widget  -->
        <div class="widget">
          <h5 class="widget-title font-alt">{{ 'Areas of work' }}</h5>
          <div class="thin-separator-line bg-dark-gray no-margin-lr"></div>
          <div class="widget-body">
            <ul class="category-list">
              {% for service in service_nodes %}
                <li><a href="{{ service.link }}">{{ service.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <!-- end widget  -->
      </div>
      <!-- end sidebar  -->
    </div>
  </div>
</section>
<!-- end content section -->
