{#
/**
 * @file
 * Theme override for a main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{% set classes = [
  'view',
  'view-' ~ id|clean_class,
  'view-id-' ~ id,
  'view-display-id-' ~ display_id,
  dom_id ? 'js-view-dom-id-' ~ dom_id,
] %}
<div{{ attributes.addClass(classes) }}>

  <!-- head section -->
  <section class="page-title parallax3 parallax-fix page-title-large">
    <div class="opacity-medium bg-black"></div>
    <img class="parallax-background-img" src="/themes/custom/right_time/assets/images/headers/services.jpeg" />
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 text-center animated fadeInUp">
          <div class="separator-line bg-rtr-gradient no-margin-top margin-four"></div>
          <!-- page title -->
          <h1 class="white-text">Services</h1>
          <!-- end page title -->

        </div>
      </div>
    </div>
  </section>
  <section class="no-padding-bottom padding-three wow fadeIn">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-sm-10 center-col">
          <h2 class="text-center"><strong>{{ 'About us & Services' }}</strong></h2>
          <p class="text-med width-90 center-col margin-two no-margin-bottom">
          <p><span>Right Time Recruitment was born in 2016, with the mindset on finding “Careers That Work” for the UK’s IT and infrastructure professionals; headquartered in the heart of Birmingham but operating across the whole of the UK and Overseas. With vast amounts of experience in the IT sector, Right Time Recruitment is here to support you.</span></p>

          <p><span>We partner with industry leaders to ensure we are at the forefront of the markets we work in. We work extensively with Educational Institutions, to engage with the next generation of professionals. We believe that through working with these organisations, we are able to understand and offer solutions in a way that no other recruitment company is able to. We aim to be the leading provider of IT&nbsp;Solutions in the Nationally &amp; Internationally, to deliver the best service to our Clients and Candidates and create opportunities in our community for the future generation.</span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></p>

          <p><span>Our business was founded by James White &amp; Lord Sugar&nbsp;following James' Win on the BBC Apprentice&nbsp;TV Show, whilst we have now grown significantly, we still retain the values of friendship and trust, we were built on and continue to do business with the same mind set.</span></p>

          <p><span>As a full service recruitment consultancy, we offer services across the IT landscape. We have specialisms in all of the areas detailed below, across which, we can offer you several different ways of packaging our services to suit your needs;</span></p>

          <ul class="flat-list text-med">
            <li>Retained Search &amp; Selection</li>
            <li>Contingent Recruitment</li>
            <li>Permanent Delivery</li>
            <li>Interim &amp; Contract Delivery &amp; Full Managed Consultancy Service</li>
            <li>Recruitment Partner Onsite – RPO</li>
          </ul>
          <br>
          <p>
            Talk to one of our dedicated team today on + 44 203 903 1100 to discuss how we can support you and your short to long term business goals. We are always happy to tailor a solution that works best for you and your needs.
          </p>

        </div>
      </div>
    </div>
  </section>

  <!-- end head section -->
  <section class="wow fadeIn">
    <div class="container">
      <div class="row blog-3col">
        {% if rows %}
          <div class="view-content rtr-services">
            {{ rows }}
          </div>
        {% elseif empty %}
          <div class="view-empty">
            {{ empty }}
          </div>
        {% endif %}
        {% if pager %}
          {{ pager }}
        {% endif %}
      </div>
    </div>
  </section>
</div>
