{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}
<!-- form option #4 -->
<section class="wow fadeIn bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-10 col-xs-11 center-col login-box">
        <!-- form title  -->
        <h1>Login</h1>
        <!-- end form title  -->
        <!-- form sub title  -->
        {#<p class="text-uppercase margin-three no-margin-bottom">Enter to account or <a href="/user/register">Register Now</a></p>#}
        <!-- end form sub title  -->
        <div class="separator-line bg-black no-margin-lr margin-ten"></div>
        {{ form.name }}

        {{ form.pass }}
        {{ form.actions }}
        <br>
        <a href="/user/password">
          {{ 'Reset your password' }}
        </a>
      </div>
    </div>
  </div>
</section>
<!-- end form option #4 -->
